:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  --color-a: #292F2E;
  --color-b: #2E3C3B;
  color: white;
}

body {
  margin: 0em 1em;
  background-color: var(--color-a);
}

ul {
  list-style: none;
}

button {
  border: none;
  font-size: 2em;
}

.transition-move {
  transition: transform 0.5s ease;
}

.nav-header {
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
  justify-content: space-between;
}

.nav-title {
  font-weight: 400;
  /* width: 100%; */
}

.navbar {
  display: none;
}

.text-about {
  max-width: 30rem;
}

.btn {
  background: white;
  border-radius: 0.2em;
  padding: 0.25em 1em;
}

.container-main {
  padding: 0.5em;
  background-color: var(--color-b);
}

.container-btn {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 4em;
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container-skills {
  margin: 4em 0em;
}

.skills {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  flex-wrap: wrap;
}

.skill {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  /* display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; */
}

.icon {
  margin-bottom: .25em;
  font-size: 4em;
}

.img-placeholder {
  width: 800px;
  height: 600px;
  background-color: rgb(73, 66, 66);
}

.img-project {
  display: block;
  /* width: 960px; */
  /* height: 600px; */

  width: 30em;

  width: 100%;
  height: 50%;
}

.img-btns {
  display: flex;
  justify-content: space-between;
}

.img-desc {
  max-width: 960px;
}

.projects {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0em 1em;
}

.project-text {}

.project-card {
  display: flex;
  flex-direction: column;
}

.btn-img {}

.history-btns {
  display: flex;
  gap: 0.1em;
}

.history-btn {
  font-size: 1.5em;
  padding: 0.25em;
}

.history-text {
  max-width: 100%;
  padding: 1em;
  margin: 0em;
  border-radius: 1em;
  background-color: var(--color-a);
}

@media (min-width: 1400px) {
  .navbar {
    display: flex;
    justify-content: right;
    gap: 5em;
  }

  .container-btn {
    flex-direction: row;
  }

  .history-text {
    max-width: 50%;
  }
}

@media (min-width: 770px) {
  :root {
    font-size: 2em;
  }

  body {
    margin: 0em 5%;
  }



  .container-projects {
    margin: 4em 0em;
  }

  .projects {
    margin: 2em 4em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
  }

  .project-card {
    /* display: flex; */
    /* align-items: start; */
  }

  .project-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-evenly; */
    /* margin: 0 2em; */
    max-width: 20em;
  }

  .skills {
    /* display: flex;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: wrap; */
  }

  .img-project {
    max-width: 30em;
    height: 20em;
    cursor: pointer;
  }

  .img-hero {
    position: absolute;
    z-index: -1;
  }

  .container-main {
    transform: translateY(-0.5em);
    background-color: var(--color-b);
    border-radius: 1%;
    padding: 1em;
  }

  .img-project:hover {}
}