:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

body {
  margin: 0em 1em;
}

ul {
  list-style: none;
}

button {
  border: none;
  font-size: 2em;
}

.nav-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-title {
  font-weight: 400;
}

.navbar {
  display: none;
}

.text-about {
  max-width: 30rem;
}

.btn {
  background: white;
  border-radius: 0.2em;
  padding: 0.25em 1em;
}

.container-btn {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container-skills {
  margin: 4em 0em;
}

@media (min-width: 400px) {
  :root {
    font-size: 2em;
  }

  body {
    margin: 0em 7em;
  }

  .navbar {
    display: flex;
    justify-content: right;
    gap: 5em;
  }

  .container-btn {
    flex-direction: row;
  }

  .container-projects {
    margin: 4em 0em;
  }

  .projects {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .skills {
    display: flex;
    justify-content: space-around;
    gap: 2em;
  }
}