:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #292F2E;
}

h1,
h2 {
  font-weight: 400;
}

@media (min-width: 400px) {
  :root {}

  button:hover {
    cursor: pointer;
    background: rgb(145, 141, 141);
  }
}