:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #292F2E;
}

h1,
h2 {
  font-weight: 400;
}

svg {}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

@media (min-width: 400px) {
  :root {}

  body {
    /* transform: translateY(2em);
    padding: 0 2em;
    background-color: #2E3C3B;
    border-radius: 1%; */
  }

  button:hover {
    cursor: pointer;
    background: rgb(145, 141, 141);
  }
}